.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(142, 136, 136, 0.431);
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 550px;
  height: 350px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer--btn{
 margin-top: 30px;
 width: 100%;
}
.modalContainer--btn > button{
 margin: 0 auto;
 width: 20%;
 padding:7px 0;
 background-color: lightsteelblue;
 color: white;
 border: none;
 border-radius: 5px;
}

