.sidebar{
 flex: 30%;
}
.sidebar > ul{
  position: fixed;
  cursor: pointer;
}

/* .sidebar--ul > li{
 width: 100%;
 display: flex;
 column-gap: 15px;
 margin-left: 10px;
 margin-bottom: 10px;
 padding: 2px 0 2px 0;
 position:fixed;

} */
/* .sidebar> li:hover{
 background-color:lightgray;
 border-radius: 4px 0 0 4px;
} */

.sidebar--name{
 font-size: 15px;
 font-weight: 500;
 color:#050505;
}

.sidebar--username{
 display: flex;
 align-items: start;
 column-gap: 7px;
 justify-content: center;
 margin: 15px 0;
 flex: 30%;
 position:sticky;
 top:70px;
}
.sidebar--username > h1{
 color: rgb(145, 144, 144);
 font-weight: 400;
 font-size: x-large;
 font-family: cursive;
}
.sidebar--username > span{
 font-weight: 400;
 font-size: x-large;
 font-family: cursive;
}

.sidebar--list{
 display: flex;
 align-items: center;
 column-gap: 5px;
 padding: 5px 0 2px 7px;
 margin:0 0 10px 10px;
 cursor: pointer;
}

.sidebar--list:hover{
 background-color:lightgray;
 border-radius: 6px 0 0 6px;

}
